node-red/flows_roverbot.json
[{"id":"f17f15c3.d4dd38","type":"tab","label":"sensor data streams"},{"id":"6b63be5a.3229","type":"tab","label":"api endpoints"},{"id":"21ef636d.44c1bc","type":"tab","label":"hat"},{"id":"210ca1fe.db238e","type":"serial-port","z":"","serialport":"/dev/serial0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"f7cc5a4c.71f3b8","type":"serial in","z":"f17f15c3.d4dd38","name":"","serial":"210ca1fe.db238e","x":123.5,"y":100.14999389648438,"wires":[["c081a88a.10b008"]]},{"id":"416636fe.50b3f8","type":"debug","z":"f17f15c3.d4dd38","name":"","active":false,"console":"false","complete":"false","x":420.5,"y":161.29998779296875,"wires":[]},{"id":"c081a88a.10b008","type":"function","z":"f17f15c3.d4dd38","name":"parse payload","func":"return JSON.parse(msg.payload);","outputs":1,"noerr":0,"x":200.5,"y":221.44998168945312,"wires":[["56c89fa0.ddb8b","ef037b25.3a0218"]]},{"id":"56c89fa0.ddb8b","type":"switch","z":"f17f15c3.d4dd38","name":"dispatch","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"sonar","vt":"str"},{"t":"eq","v":"tach0","vt":"str"},{"t":"eq","v":"tach1","vt":"str"}],"checkall":"true","outputs":3,"x":230.5,"y":325.4499816894531,"wires":[["5fa18506.5df9ec"],["3678539c.9997ac"],["56f48000.41148"]]},{"id":"5fa18506.5df9ec","type":"link out","z":"f17f15c3.d4dd38","name":"sonar data","links":[],"x":392.5,"y":267.29998779296875,"wires":[]},{"id":"3678539c.9997ac","type":"link out","z":"f17f15c3.d4dd38","name":"tach 0 data","links":[],"x":393.5,"y":315.29998779296875,"wires":[]},{"id":"56f48000.41148","type":"link out","z":"f17f15c3.d4dd38","name":"tach 1 data","links":[],"x":393.5,"y":367.29998779296875,"wires":[]},{"id":"ef037b25.3a0218","type":"delay","z":"f17f15c3.d4dd38","name":"rate limit 3hz","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"3","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":338.5,"y":78.44999694824219,"wires":[["416636fe.50b3f8"]]},{"id":"96b6c481.ca5b98","type":"comment","z":"f17f15c3.d4dd38","name":"sonar","info":"","x":460.5,"y":267.4499816894531,"wires":[]},{"id":"40062aba.0413a4","type":"comment","z":"f17f15c3.d4dd38","name":"tach 0","info":"","x":462,"y":315,"wires":[]},{"id":"7de60f4b.f6987","type":"comment","z":"f17f15c3.d4dd38","name":"tach 1","info":"","x":461,"y":368,"wires":[]},{"id":"646075ca.74bcac","type":"http in","z":"6b63be5a.3229","name":"led","url":"/api/led","method":"get","swaggerDoc":"","x":77.5,"y":43.149993896484375,"wires":[["c89ff921.23a848","6b3b88e9.97d0a8"]]},{"id":"32470be.a3439f4","type":"debug","z":"6b63be5a.3229","name":"","active":false,"console":"false","complete":"false","x":511.5,"y":43.30000305175781,"wires":[]},{"id":"c89ff921.23a848","type":"http response","z":"6b63be5a.3229","name":"","x":255.5,"y":83.29998779296875,"wires":[]},{"id":"df455c8d.6e73d","type":"link out","z":"6b63be5a.3229","name":"cmd stream (led)","links":["b5200eac.196e"],"x":420.5,"y":81.29998779296875,"wires":[]},{"id":"6b3b88e9.97d0a8","type":"function","z":"6b63be5a.3229","name":"mk led cmd","func":"msg.topic = 'light.' + msg.payload.topic;\nmsg.payload = msg.payload.payload;\nreturn msg;","outputs":1,"noerr":0,"x":276.5,"y":43.44999694824219,"wires":[["df455c8d.6e73d","32470be.a3439f4"]]},{"id":"cd04b3b6.cf58b","type":"comment","z":"6b63be5a.3229","name":"cmd stream (led)","info":"","x":521.5,"y":79.44999694824219,"wires":[]},{"id":"1172a07a.cdc69","type":"http in","z":"6b63be5a.3229","name":"motor","url":"/api/motor","method":"get","swaggerDoc":"","x":70.5,"y":166.14999389648438,"wires":[["11fc169f.8d1619","70b140fc.255ec"]]},{"id":"8e91d121.d9f7a","type":"comment","z":"6b63be5a.3229","name":"led params","info":"|name|values|\n|---|---|\n|color|red, green, blue, yellow|\n|state|on, off|","x":84.5,"y":78.44999694824219,"wires":[]},{"id":"71cefc12.a270d4","type":"comment","z":"6b63be5a.3229","name":"motor params","info":"|name|values|\n|------|------|\n|power|-100 ... 100|","x":87,"y":203,"wires":[]},{"id":"76c648a1.fc2168","type":"debug","z":"6b63be5a.3229","name":"","active":false,"console":"false","complete":"false","x":511.5,"y":164.29998779296875,"wires":[]},{"id":"11fc169f.8d1619","type":"function","z":"6b63be5a.3229","name":"mk motor cmds","func":"\nreturn [[{'topic':'motor.1', 'payload':msg.payload}, {'topic':'motor.2', 'payload':msg.payload}]];","outputs":1,"noerr":0,"x":279.5,"y":167.44998168945312,"wires":[["76c648a1.fc2168","6714b577.b7cf0c"]]},{"id":"6714b577.b7cf0c","type":"link out","z":"6b63be5a.3229","name":"","links":["6410d4f.353892c"],"x":424.5,"y":198.29998779296875,"wires":[]},{"id":"a154cf33.daae3","type":"comment","z":"6b63be5a.3229","name":"cmd stream (motor)","info":"","x":533.5,"y":198.4499969482422,"wires":[]},{"id":"70b140fc.255ec","type":"http response","z":"6b63be5a.3229","name":"","x":250.5,"y":205.29998779296875,"wires":[]},{"id":"2f3e6a74.b34b46","type":"rpi-explorerhat out","z":"21ef636d.44c1bc","name":"","x":374.5,"y":71.19999694824219,"wires":[]},{"id":"b5200eac.196e","type":"link in","z":"21ef636d.44c1bc","name":"led api","links":["df455c8d.6e73d"],"x":84.5,"y":58.149993896484375,"wires":[["2f3e6a74.b34b46"]]},{"id":"6410d4f.353892c","type":"link in","z":"21ef636d.44c1bc","name":"motor api","links":["6714b577.b7cf0c"],"x":84.5,"y":100.14999389648438,"wires":[["2f3e6a74.b34b46"]]}]