node-red/flows_roverbot.json
[{"id":"f17f15c3.d4dd38","type":"tab","label":"sensor"},{"id":"388837ed.764e78","type":"tab","label":"api"},{"id":"99debe16.5f4ac","type":"tab","label":"ehat"},{"id":"8dac018d.e9e6e","type":"subflow","name":"con cmds","info":"","in":[{"x":60,"y":80,"wires":[{"id":"d0d3c8e7.d2f7d8"}]}],"out":[{"x":580,"y":140,"wires":[{"id":"13c4f46c.c92f7c","port":0},{"id":"21037ed2.c0a562","port":1}]}]},{"id":"310df7a.c022e08","type":"subflow","name":"eng cmds","info":"","in":[{"x":60,"y":160,"wires":[{"id":"1b1cc620.ee7b0a"}]}],"out":[{"x":380,"y":160,"wires":[{"id":"1b1cc620.ee7b0a","port":0}]}]},{"id":"ce2c8819.ed2de8","type":"subflow","name":"nav cmds","info":"","in":[{"x":80,"y":240,"wires":[]}],"out":[{"x":400,"y":240,"wires":[]}]},{"id":"210ca1fe.db238e","type":"serial-port","z":"","serialport":"/dev/serial0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"f7cc5a4c.71f3b8","type":"serial in","z":"f17f15c3.d4dd38","name":"","serial":"210ca1fe.db238e","x":110,"y":60,"wires":[["c081a88a.10b008"]]},{"id":"c081a88a.10b008","type":"function","z":"f17f15c3.d4dd38","name":"parse payload","func":"return JSON.parse(msg.payload);","outputs":1,"noerr":0,"x":190,"y":152,"wires":[["56c89fa0.ddb8b"]]},{"id":"56c89fa0.ddb8b","type":"switch","z":"f17f15c3.d4dd38","name":"dispatch","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"sonar","vt":"str"},{"t":"eq","v":"tach0","vt":"str"},{"t":"eq","v":"tach1","vt":"str"}],"checkall":"true","outputs":3,"x":240,"y":280,"wires":[["5fa18506.5df9ec"],["3678539c.9997ac"],["56f48000.41148"]]},{"id":"5fa18506.5df9ec","type":"link out","z":"f17f15c3.d4dd38","name":"sonar data","links":[],"x":375,"y":220,"wires":[]},{"id":"3678539c.9997ac","type":"link out","z":"f17f15c3.d4dd38","name":"tach 0 data","links":[],"x":375,"y":280,"wires":[]},{"id":"56f48000.41148","type":"link out","z":"f17f15c3.d4dd38","name":"tach 1 data","links":[],"x":375,"y":340,"wires":[]},{"id":"96b6c481.ca5b98","type":"comment","z":"f17f15c3.d4dd38","name":"sonar","info":"","x":450,"y":220,"wires":[]},{"id":"40062aba.0413a4","type":"comment","z":"f17f15c3.d4dd38","name":"tach 0","info":"","x":450,"y":280,"wires":[]},{"id":"7de60f4b.f6987","type":"comment","z":"f17f15c3.d4dd38","name":"tach 1","info":"","x":450,"y":340,"wires":[]},{"id":"1b1cc620.ee7b0a","type":"function","z":"310df7a.c022e08","name":"eng processor","func":"var power = msg.payload.param;\nvar motorMsgs = [[{'topic':'motor.1', 'payload':power}, {'topic':'motor.2', 'payload':power}]];\nreturn ","outputs":1,"noerr":0,"x":220,"y":160,"wires":[[]]},{"id":"f61779af.06c2b8","type":"comment","z":"f17f15c3.d4dd38","name":"about...","info":"The Arduino is sending data across the serial\nline, this flow creates messages and dispatches\nthose messages to links.","x":90,"y":380,"wires":[]},{"id":"d0d3c8e7.d2f7d8","type":"switch","z":"8dac018d.e9e6e","name":"","property":"payload.cmd","propertyType":"msg","rules":[{"t":"eq","v":"red","vt":"str"},{"t":"eq","v":"green","vt":"str"},{"t":"eq","v":"blue","vt":"str"},{"t":"eq","v":"yellow","vt":"str"}],"checkall":"true","outputs":4,"x":150,"y":160,"wires":[["21037ed2.c0a562"],["e39b452a.24aa48"],["58f8288f.cd9d88"],["d179f827.a1a618"]]},{"id":"21037ed2.c0a562","type":"function","z":"8dac018d.e9e6e","name":"red","func":"var motorMsgs = [[{'topic':'motor.1', 'payload':0}, {'topic':'motor.2', 'payload':0}]];\nvar ledMsg = {'topic':'light.red'};\nreturn [ledMsg, motorMsgs];","outputs":"2","noerr":0,"x":330,"y":60,"wires":[["13c4f46c.c92f7c"],[]]},{"id":"e39b452a.24aa48","type":"function","z":"8dac018d.e9e6e","name":"green","func":"\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":120,"wires":[[]]},{"id":"58f8288f.cd9d88","type":"function","z":"8dac018d.e9e6e","name":"blue","func":"\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":200,"wires":[[]]},{"id":"d179f827.a1a618","type":"function","z":"8dac018d.e9e6e","name":"yellow","func":"\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":260,"wires":[[]]},{"id":"13c4f46c.c92f7c","type":"trigger","z":"8dac018d.e9e6e","op1":"on","op2":"off","op1type":"str","op2type":"str","duration":"500","extend":false,"units":"ms","reset":"","name":"","x":520,"y":40,"wires":[[]]},{"id":"51544f4.52a81b","type":"link in","z":"99debe16.5f4ac","name":"ehat","links":["d0e35d88.76152","8c17764a.6ea1e8"],"x":32.5,"y":290.3000030517578,"wires":[["5fd0a86e.028eb8"]]},{"id":"5fd0a86e.028eb8","type":"switch","z":"99debe16.5f4ac","name":"commands","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"power","vt":"str"},{"t":"eq","v":"turnrate","vt":"str"},{"t":"eq","v":"led","vt":"str"}],"checkall":"true","outputs":3,"x":120.5,"y":195.5999755859375,"wires":[["efc6c559.179c18"],["970f6973.13e2f8"],["4d1f4fa8.3c975"]]},{"id":"dc8a5554.852c98","type":"function","z":"99debe16.5f4ac","name":"motor","func":"var power = flow.get('power') || 0;\nvar turnrate = flow.get('turnrate') || 0;\n\nvar motorMsgs = [[\n    {'topic':'motor.1', 'payload':+power + turnrate},\n    {'topic':'motor.2', 'payload':+power - turnrate}\n    ]];\n    \nreturn motorMsgs;","outputs":1,"noerr":0,"x":464.5,"y":54.59999084472656,"wires":[["79d36a44.6b2a24"]]},{"id":"79d36a44.6b2a24","type":"rpi-explorerhat out","z":"99debe16.5f4ac","name":"ehat","x":642.5,"y":323.3499755859375,"wires":[]},{"id":"4d1f4fa8.3c975","type":"function","z":"99debe16.5f4ac","name":"led","func":"var lightMsg = {'topic':'light.'+msg.payload.cmd, 'payload':msg.payload.param};\nreturn lightMsg;","outputs":1,"noerr":0,"x":225.5,"y":279.5999755859375,"wires":[["91328d3f.f5bb1"]]},{"id":"b4ede88b.a31218","type":"comment","z":"99debe16.5f4ac","name":"about...","info":"Motor control message are of the form:\n\n{topic:motor, payload:<speed>}\n\nLED control messages look like:\n\n{topic:led, payload:{cmd:<light>, param:<on, off, momentary>}}","x":88.5,"y":378.5999755859375,"wires":[]},{"id":"d0e35d88.76152","type":"link out","z":"388837ed.764e78","name":"control ehat","links":["51544f4.52a81b"],"x":487.5,"y":180.4499969482422,"wires":[]},{"id":"970f6973.13e2f8","type":"function","z":"99debe16.5f4ac","name":"turnrate","func":"flow.set('turnrate', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":323.5,"y":161.60000610351562,"wires":[["dc8a5554.852c98"]]},{"id":"efc6c559.179c18","type":"function","z":"99debe16.5f4ac","name":"power","func":"flow.set('power', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":253.5,"y":77.59999084472656,"wires":[["dc8a5554.852c98"]]},{"id":"a16334c5.01faa8","type":"http in","z":"388837ed.764e78","name":"/power","url":"/power","method":"get","swaggerDoc":"","x":90.5,"y":95.29998779296875,"wires":[["976d3708.66e718","7845cf07.ae7aa"]]},{"id":"db361a7c.f01b18","type":"http in","z":"388837ed.764e78","name":"/turnrate","url":"/turnrate","method":"get","swaggerDoc":"","x":94.5,"y":175.29998779296875,"wires":[["976d3708.66e718","6189bfb3.65c88"]]},{"id":"976d3708.66e718","type":"http response","z":"388837ed.764e78","name":"","x":276,"y":146,"wires":[]},{"id":"7845cf07.ae7aa","type":"function","z":"388837ed.764e78","name":"power=param","func":"var newMsg = {'topic':'power', 'payload':msg.payload.param};\nreturn newMsg;","outputs":1,"noerr":0,"x":302.5,"y":84.60000610351562,"wires":[["d0e35d88.76152"]]},{"id":"6189bfb3.65c88","type":"function","z":"388837ed.764e78","name":"turnrate=param","func":"var newMsg = {'topic':'turnrate', 'payload':msg.payload.param};\nreturn newMsg;","outputs":1,"noerr":0,"x":301.5,"y":210.60000610351562,"wires":[["d0e35d88.76152"]]},{"id":"631f3d6a.d51d94","type":"http in","z":"388837ed.764e78","name":"/led","url":"/led","method":"get","swaggerDoc":"","x":93.5,"y":296.29998779296875,"wires":[["24504b05.e432b4","75558a72.f2fda4"]]},{"id":"24504b05.e432b4","type":"function","z":"388837ed.764e78","name":"led={cmd, param}","func":"var newMsg = {'topic':'led', 'payload':msg.payload};\nreturn newMsg;","outputs":1,"noerr":0,"x":320.5,"y":290.6000061035156,"wires":[["d0e35d88.76152"]]},{"id":"75558a72.f2fda4","type":"http response","z":"388837ed.764e78","name":"","x":277,"y":350,"wires":[]},{"id":"91328d3f.f5bb1","type":"switch","z":"99debe16.5f4ac","name":"on, off, blink","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"blink","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":341.5,"y":377.6000061035156,"wires":[["ea212b32.09be88"],["79d36a44.6b2a24"]]},{"id":"ea212b32.09be88","type":"trigger","z":"99debe16.5f4ac","op1":"on","op2":"off","op1type":"str","op2type":"str","duration":"250","extend":false,"units":"ms","reset":"","name":"1/4s blink","x":442.5,"y":262.6000061035156,"wires":[["79d36a44.6b2a24"]]}]